
/* Style untuk elemen kedua (Rectangle 120) */
.rectangle-120 {
    position: relative;
    width: 1895px;
    height: 84px;
    background: rgba(253, 253, 253, 0.53);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Properti lain sesuai kebutuhan */
}


/* Style untuk elemen ketiga (Chat) */
.chat {
    position: absolute;
    width: 74px;
    height: 38px;
    left: 1600px;
    top: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    color: #9D9D9D;
    cursor: pointer; /* Tambahkan properti cursor: pointer; */
    /* Properti lain sesuai kebutuhan */
}

.chat:hover {
    color: #00BBB4; /* Warna teks saat diklik */
}


/* Style untuk elemen kelima (Super Small/Active) */
.super-small-active {
    position: absolute;
    width: 182.24px;
    height: 48px;
    left: 1700px;
    top: 18px;
    background: #00BBB4;
    border-radius: 8px;
    /* Properti lain sesuai kebutuhan */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Warna teks sesuai kebutuhan */
    font-size: 20px; /* Sesuaikan ukuran font sesuai kebutuhan */
    font-weight: bold; /* Sesuaikan ketebalan font sesuai kebutuhan */
    cursor: pointer; /* Tambahkan properti cursor: pointer; */
    user-select: none; /* Menyembunyikan cursor text saat seleksi */
}

.super-small-active:hover {
    background: #008C85; /* Warna latar belakang saat dihover */
}


/* Style untuk elemen keenam belas (Tipe Kost) */
.tipe-kost {
    position: absolute;
    width: 118px;
    height: 38px;
    left: 1430px;
    top: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    color: #9D9D9D;
    /* Properti lain sesuai kebutuhan */
}

.expand-down {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1550px;
    top: 35px;
    background-color: #9D9D9D; /* Ganti warna sesuai kebutuhan */
    /* Properti lain sesuai kebutuhan */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Warna teks sesuai kebutuhan */
    font-size: 16px; /* Sesuaikan ukuran sesuai kebutuhan */
    cursor: pointer; /* Tambahkan properti cursor: pointer; */
}

.expand-down:hover {
    background: #008C85; /* Warna latar belakang saat dihover */
}


/* Style untuk elemen Logo langsung */
.logo {
    position: absolute;
    width: 178px; /* Sesuaikan lebar sesuai kebutuhan */
    height: 54px; /* Sesuaikan tinggi sesuai kebutuhan */
    left: 48px;
    top: 15px;
    object-fit: contain; /* Sesuaikan properti ini sesuai kebutuhan untuk penyesuaian ukuran dan aspek logo */
    /* Properti lain sesuai kebutuhan */
}

/* Rectangle */
.rectanglekuning{
    position: absolute;
    width: 1895px;
    height: 63px;
    top: 150px;
    background: #F1CD86;
} 

/* Masuk ke golivin */
.logingolivin{
    position: absolute;
    width: 250px;
    height: 45px;
    left: 300px;
    top: 160px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

/* Home */
.home{
    position: absolute;
    width: 188px;
    height: 30px;
    left: 1300px;
    top: 165px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;

    color: #000000;
    cursor: pointer;
}

/* Email */
.email{
    position: absolute;
    width: 40px;
    height: 23px;
    left: 315px;
    top: 250px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    color: rgba(0, 0, 0, 0.5);
}

/* Styling untuk input email */
.email input {
    position: absolute;
    left: 10px;
    top: 40px;
    width: 1080px;
    padding: 12px;
    margin-bottom: 16px; /* Mengatur margin bawah */
    border: 1px solid #ccc; /* Menambahkan border agar terlihat */
    border-radius: 5px; /* Memberikan sudut yang sedikit melengkung */
}

/* Kata Sandi */
.password {
    position: absolute;
    width: auto; /* Lebar menyesuaikan dengan konten */
    height: 23px;
    left: 315px;
    top: 350px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    color: rgba(0, 0, 0, 0.5);
}

/* Styling untuk input kata sandi */
.password input {
    width: 1080px;
    padding: 12px;
    margin-bottom: 16px; /* Mengatur margin bawah */
    border: 1px solid #ccc; /* Menambahkan border agar terlihat */
    border-radius: 5px; /* Memberikan sudut yang sedikit melengkung */

    /* Menyesuaikan posisi dan padding */
    position: absolute;
    left: 10px;
    top: 35px;
}

/* Styling untuk tombol "Masuk" */
input[type="submit"] {
    position: absolute;
    left: 315px;
    top: 500px;
    padding: 10px 20px; /* Atur padding sesuai kebutuhan */
    font-size: 16px; /* Atur ukuran font sesuai kebutuhan */
    background-color: #00BBB4; /* Warna latar belakang tombol */
    color: #FFFFFF; /* Warna teks tombol */
    border: none; /* Hilangkan border */
    border-radius: 5px; /* Memberikan sudut yang melengkung */
    cursor: pointer; /* Ganti kursor saat diarahkan ke tombol */
}

/* Efek hover pada tombol "Masuk" */
input[type="submit"]:hover {
    background-color: #008C85; /* Warna latar belakang saat dihover */
}


/* Belum punya akun golivin? */
.noakun{
    position: absolute;
    width: 201px;
    height: 23px;
    left: 300px;
    top: 440px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    color: rgba(0, 0, 0, 0.9);
}

/* Daftar Sekarang */
.daftarsekarang{
    position: absolute;
    width: 128px;
    height: 23px;
    left: 480px;
    top: 440px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    text-decoration-line: underline;

    color: #00BBB4;
}

/* Lupa kata sandi? */
.lupapassword{
    position: absolute;
    width: 132px;
    height: 23px;
    left: 310px;
    top: 460px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    text-decoration-line: underline;

    color: #00BBB4;
    }

/* Style for element "Rectanglebawah1" */
.rectangle {
    position: relative;
    width: 1895px;
    height: 342px;
    top: 500px;
    background: #00BBB4;
    /* Other properties as needed */
}

/* Style for element "Rectanglebawah2" */
.rectangle .rectangle2 {
    position: absolute;
    width: 1895px;
    height: 63px;
    bottom: 0%;
    top: 81.5%;
    background: rgba(157, 157, 157, 0.7);
    /* Other properties as needed */
}

/* Style untuk elemen "copyright" */
.rectangle .copyright {
    position: absolute;
    width: 378px;
    height: 30px;
    left: 300px;
    bottom: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    /* Properti lain sesuai kebutuhan */
}

/* Style untuk elemen "logobawah" */
.logobawah {
    position: absolute;
    width: 385px;
    height: 97.5px;
    left: 320px;
    top: 635px;
    /* Properti lain sesuai kebutuhan */
}

/* Style untuk elemen "golivinDescription" */
.golivinDescription {
    position: absolute;
    width: 421px;
    height: 92px;
    left: 320px;
    top: 750px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    /* Properti lain sesuai kebutuhan */
}

/* Style untuk elemen "hubungiKami" */
.hubungiKami {
    position: absolute;
    width: 111px;
    height: 23px;
    left: 1172px;
    top: 655px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    /* Properti lain sesuai kebutuhan */
}

/* Style untuk elemen "nomorTelepon" */
.nomorTelepon {
    position: absolute;
    width: 117px;
    height: 23px;
    left: 1212px;
    top: 740px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    /* Properti lain sesuai kebutuhan */
}

/* Style untuk elemen "emailInfo" */
.emailInfo {
    position: absolute;
    width: 130px;
    height: 23px;
    left: 1212px;
    top: 700px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    /* Properti lain sesuai kebutuhan */
}

/* Style untuk elemen "ellipse1" */
.ellipse1 {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 1172px;
    top: 700px;
    background: #D9D9D9;
    /* Properti lain sesuai kebutuhan */
}

/* Style untuk elemen "messageFill" */
.ikonpesan {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 1175px;
    top: 703px;
    /* Properti lain sesuai kebutuhan */
}

/* Style untuk elemen "ellipse2" */
.ellipse2 {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 1172px;
    top: 740px;
    background: #D9D9D9;
    /* Properti lain sesuai kebutuhan */
}

/* Style untuk elemen "phoneFill" */
.ikontelpon {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 1173px;
    top: 742px;
    /* Properti lain sesuai kebutuhan */
}
