
h1{
    width: 882px;
    height: 71px;
    top: 0;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.input-search {
    width: 652px;
    height: 56px;
}
.input-search .form-control{
    
    width: 652px;
    height: 56px;
    top: 0;
    left: 0;
    background-color: #fffcfc;
    border-radius: 90px;
}

