*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

.ActivityPage{
   background-color: #F1CD86;
   height: 50px;
}

.ActivityPage h1{
    margin-left: 25px;
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ActivityPage  h2{
    margin-top: 17px;
    color: #000;
    text-align: right;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;        
}

.ActivityPage span{
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.regist {
    margin-left: 162px;
}

.regist button {
    background: #00BBB4;
}

.regist a1 {
    color: #00BBB4;
    cursor: pointer;
}

.registpage img {
    object-fit: cover;
    width: 730px;
}